.game-registration {
	z-index: 3;
	background-color: $white;
	width: 100vw;
	@include mq(0,400px) {
		width: 200vh;
	}
	.background {
		width: 566px;
		height: 100%;
		position: relative;
		background-color: $dark;
		@include mq(0,400px) {
			width: 440px;
		}
		.logo22 {
			width: 260px;
			height: 72px;
			position: absolute;
			margin-left: 160px;
			margin-top: 60px;
			background: url(/img/logo_fundo_rosa_prio_branco.svg) no-repeat;
			background-size: 100%;
			@include mq(0,400px) {
				margin-left: 50px;
				width: 200px;
			}
		}
		.polaroid-img-4 {
			width: 270px;
			height: 365px;
			background: url(/img/Group_331_frame.svg) no-repeat;
			background-size: 100%;
			position: absolute;
			margin-left: 70px;
			margin-top: 155px;
			@include mq(0,400px) {
				transform: scale(0.8);
				margin-top: 60px;
			}
		}
		.blob-22 {
			width: 225px;
			height: 180px;
			background-color: $primary;
			background-size: 100%;
			position: absolute;
			margin-left: 200px;
			margin-top: 355px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			animation: animation 5s linear infinite;
			@include h5-desktop;
			color: $white;
			@include mq(0,400px) {
				@include h5-mobile;
				width: 100px;
				height: 80px;
				margin-left: 240px;
				margin-top: 120px;
			}
		}
		.white-vector {
			width: 90px;
			height: 100%;
			background: url(/img/white_vector_form.svg) no-repeat;
			background-size: cover;
			position: absolute;
			right: 0px;
			@include mq(0,400px) {
				right: -38px;
			}
		}
	}
	.registration {
		width: 800px;
		height: 100%;
		position: absolute;
		bottom: 0px;
		margin-left: 550px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mq(0,400px) {
			width: 1000px;
			margin-left: 440px;
			justify-content: left;
		}
		.grid {
			display: grid;
			grid-template-rows: 100px 300px;
			grid-template-columns: 100px 600px;
			column-gap: 20px;
			row-gap: 20px;
			.close-button {
				position: absolute;
				top: 20px;
				right: 140px;
				width: 80px;
				height: 80px;
				background: url(/img/close_button_primary.svg) no-repeat;
				background-size: cover;
			}
			.check-icon {
				width: 100px;
				height: 100px;
				background: url(/img/check_icon_secondary.svg) no-repeat;
				background-size: 100%;
			}
			.message {
				grid-column-start: 2;
			}
			.register-confirm {
				display: flex;
				align-items: center;
				margin-bottom: 0px;
				margin-block-start: 0px;
			}
		}
		#congratulation-message {
			display: none;
		}
		.registration-box {
			@include mq(0,400px) {
				margin-top: 0;
			}
			.text-container {
				@include mq(0,400px) {
					width: 400px;
					display: inline-block;
				}
				input[type="text"] {
					@include h5-desktop;
					width: 350px;
					border: none;
					border-bottom: 1px solid $dark;
					background-color: $white;
					font-family: $primaryFont;
					color: $dark;
					@include mq(0,400px) {
						@include h5-mobile;	
						width: 280px;
					}
				}

				input[type="email"] {
					@include h5-desktop;
					width: 525px;
					border-bottom: 1px solid $dark;
					font-family: $primaryFont;
					color: $dark;
					background-color: $white;
					@include mq(0,400px) {
						@include h5-mobile;	
						width: 380px;
					}
				}
				h3 {
					@include h3-desktop;
					color: $dark;
					margin-bottom: 50px;
					@include mq(0,400px) {
						@include h3-mobile;	
						margin-bottom: 20px;
					}
				}
				h5 {
					@include h5-desktop;
					color: $dark;
					display: inline-block;
					@include mq(0,400px) {
						@include h5-mobile;
						line-height: 36px;
					}
				}
			}
			.buttons-container {
				margin-top: 60px;
				@include mq(0,400px) {
					width: 400px;
					display: inline-block;
					margin-left: 80px;
				}
				input[type="button"] {
					@include button-desktop;
					@include button-shape;
					display: block;
					background-color: $secondary;
					width: 300px;
					font-family: $primaryFont;
					color: $white;
					margin-bottom: 20px;
				}
				#signin-with {
					background-color: $dark;
				}
			}
		}
	}
}
.box-22 {
	width: 270px;
	height: 365px;
	background: url(/img/Group_331_frame.svg) no-repeat;
	background-size: 100%;
	position: absolute;
	margin-left: 70px;
	margin-top: 155px;
}
.blob-22 {
	width: 225px;
	height: 180px;
	background-size: 100%;
	position: absolute;
	margin-left: 200px;
	margin-top: 355px;
}

.white-vector {
	width: 90px;
	height: 100%;
	background: url(/img/white_vector_form.svg) no-repeat;
	position: absolute;
	right: 0px;
}

.registration {
	width: 800px;
	height: 100%;
	position: absolute;
	bottom: 0px;
	margin-left: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	.close-button {
		position: absolute;
		top: 20px;
		right: 140px;
		width: 80px;
		height: 80px;
		background: url(/img/close_button_primary.svg) no-repeat;
		background-size: cover;
		cursor: pointer;
	}
	.registration-box {
		margin-left: 100px;
		display: block;
		input[type="text"] {
			width: 350px;
			border: none;
			border-bottom: 1px solid $dark;
			background-color: $white;
		}
		input[type="email"] {
			width: 525px;
			border: none;
			border-bottom: 1px solid $dark;
		}
		h3 {
			@include h3-desktop;
			color: $dark;
			margin-bottom: 50px;
		}
		h5 {
			@include h5-desktop;
			color: $dark;
			display: inline-block;
		}
		input[type="button"] {
			@include button-desktop;
			@include button-shape;
			background-color: $secondary;
			width: 300px;
			color: $white;
			margin-bottom: 20px;
		}
		#blue-button {
			background-color: $dark;
			margin-top: 60px;
		}
	}
}
