.one {
	z-index: 4;
	background-color: $dark;
	.navbar {
		width: 100vw;
		height: 74px;
		padding: 60px 0 0 160px;
		display: flex;
		justify-content: space-between;
		@include mq(0,400px) {
			position: absolute;
			width: 100vh;
			padding: 24px 0 0 32px;
		}
		.logo1 {
			width: 260px;
			height: 72px;
			background-size: 100%;
			background-repeat: no-repeat;
			@include mq(0,400px) {
				margin-left: 80px;
			}
		}
		.login {
			width: 240px;
			height: 72px;
			margin-right: 180px;
			display: flex;
			align-items: center;
			@include mq(0,400px) {
				margin-right: 100px;			
			}
			.button {
				@include button-desktop;
				@include button-shape;
				background-color: $secondary;
				color: $white;
				margin-right: 24px;
			}
		}
	}
	.hero {
		max-width: 1090px;
		height: 400px;
		margin: 0 auto;
		display: flex;
		margin-left: 160px;
		margin-right: 180px;
		@include mq(0,400px) {
			height: 60vh;
			width: 60vw;
			margin-left: 128px;
		}
		.hero-container {
			width: 40%;
			height: 200px;
			color: $white;
			margin-top: 240px;	
			@include mq(0,400px) {
				margin-top: 40vw;
				width: 60vh;
			}		
			h3 {
				@include title-desktop;
				@include mq(0,400px) {
					@include title-mobile;
					width: 200px;
				}
				span {
					color: $primary;
				}
			}
			p {
				@include subtitle-desktop;
				color: white;
				margin-top: 16px;
			}
		}
		.hero-image {
			@include middleVertical;
			left: 40vw;
			background: url(/img/picture_section1.svg) no-repeat center;
			background-size: 100%;
			width: 45vw;
			height: 45vw;
			min-width: 300px;
			min-height: 300px;
			@include mq(0,400px) {
				left: 50vh;
				top: 60vw;
			}
		}
		.skip {
			width: 60px;
			height: 60px;
			position: absolute;
			bottom: 50px;
			left: 1120px;
			@include mq(0,400px) {
			}
		}
	}
	// .blob-test {
	// 	width: 300px;
	// 	height: 300px;
	// 	background-color: $primary;
	// 	animation: animation 5s linear infinite;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// }
}
