.section {
	font-family: "Gotham", sans-serif;
	width: 100vw;
	z-index: -99;
	height: 100vh;
	@include mq(0,400px) {
		height: 100vw;
		width: 100vh;
		transform: translateY(280px);
	}
}

.outer-wrapper {
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
	@include mq(0,400px) {
		height: 100vh;
		width: 100vw;
		transform: none;
	}
}

.wrapper {
	height: 100vh;
	width: 2200vw;
	display: flex;
	flex-direction: row;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	@include mq(0,400px) {
		height: 100vw;
		width: 2200vh;
	}
}

::-webkit-scrollbar {
	display: none;
}