//mediaquery

@mixin mq($smallerValue,$biggerValue) {
    @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
      @content;
    }
}

//positions

@mixin middleViewport {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%)
}

@mixin middleVertical {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 50%;
    transform: translateY(-50%)
}

//character styles — desktop

@mixin title-desktop {
    font-weight: bold;
    font-size: 50px;
    line-height: 58px;
}

@mixin subtitle-desktop {
    font-size: 18px;
    line-height: 27px;
    color: $dark;
}

@mixin h2-desktop {
    font-weight: bold;
    font-size: 100px;
    color: $dark;
}

@mixin h2-desktop-highlighted {
    font-weight: bold;
    font-size: 100px;
    font-variant: small-caps;
    color: $dark;
}

@mixin h2-desktop {
    font-weight: bold;
    font-size: 80px;
    color: $dark;
}

@mixin h3-desktop {
    font-weight: bold;
    font-size: 50px;
    font-weight: 100;
    color: $dark;
}

@mixin h3-desktop-highlighted {
    font-weight: bold;
    font-size: 50px;
    font-variant: small-caps;
    line-height: 60px;
    color: $dark;
}

@mixin h4-desktop {
    font-weight: bold;
    font-size: 50px;
    color: $dark;
}

@mixin h5-desktop {
    font-size: 30px;
    line-height: 45px;
    font-weight: book;
    color: $dark;
}

@mixin h5-desktop-highlighted {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: $dark;
}

@mixin text-desktop {
    font-size: 16px;
    font-family: $primaryFont;
}

@mixin button-desktop {
    font-size: 16px;
}

//character styles - mobile

@mixin title-mobile {
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
}

@mixin subtitle-mobile {
    font-size: 16px;
    font-weight: book;
    line-height: 20px;
}

@mixin h2-mobile {
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
}

@mixin h2-mobile-highlighted {
    font-variant: small-caps;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}

@mixin h3-mobile {
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
}

@mixin h3-mobile-highlighted {
    font-variant: small-caps;
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
}


@mixin h4-mobile {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
}

@mixin h4-mobile-highlighted {
    font-variant: small-caps;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}

@mixin h5-mobile {
    font-size: 17px;
    line-height: 22px;
    font-weight: book;
}

@mixin h5-mobile-highlighted {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin text-mobile {
    font-size: 15px;
    font-weight: book;
    line-height: 20px;
}

@mixin label-mobile {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

@mixin button-mobile {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

//button

@mixin button-shape {
    @include button-desktop;
    border: none;
    border-radius: 45px;
    padding: 16px 24px;
    min-width: 144px;
    @include mq(0,375px) {
        min-width: 120px;
        min-height: 40px;
    }
}

//animated blob 
@keyframes animation{
    0% , 100%{
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
    25%{
        border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }
    50%{
        border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }
    75%{
        border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }
}