.eight {
	background: url(/img/fundo/fundo6.png) no-repeat;
	background-size: cover;
	.big-number-3 {
		width: 500px;
		height: 300px;
		background-color: $primary;
		position: absolute;
		top: 5vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;	
		animation: animation 5s linear infinite;
		left: 660vw;
		@include mq(0,400px) {
			width: 250px;
			height: 150px;
			left: -45vh;
		}
		h3 {
			@include h2-desktop;
			color: $white;
			@include mq(0,400px) {
				@include h2-mobile-highlighted;
				line-height: 12px;
			}
		}
		h5 {
			@include h5-desktop-highlighted;
			color: $white;
			margin-top: 20px;
			@include mq(0,400px) {
				@include h5-mobile-highlighted;
				line-height: 16px;
			}
		}
	}
	.polaroid-img-1 {
		width: 360px;
		height: 400px;
		position: absolute;
		top: 22vh;
		margin-left: -410px;
		background-color: red;
		background: url(/img/Group_10_card.svg);
		@include mq(0,400px) {
			top: 10vw;
			transform: scale(0.7);
			left: -65vh;
		}
	}
	.text-container {
		@include middleVertical;
		text-align: left;
		width: 120vw;
		left: 700vw;
		@include mq(0,400px) {
			left: -40vh;
			width: 100vh;
		}
		h5 {
			@include h5-desktop;
			color: $dark;
			@include mq(0,400px) {
				@include h5-mobile;
				position: relative;
				left: 45vh;
			}
			span {
				&:first-of-type {
					@include h4-desktop;
					color: $secondary;
					margin-left: 250px;
					@include mq(0,400px) {
						@include h4-mobile;
						margin-left: 60px;
					}
				}
				&:nth-of-type(2) {
					margin-left: 400px;
					@include mq(0,400px) {
						margin-left: 100px;
					}
				}
			}
		}
		.margin-text{
			margin-left: 600px;
		}
	}
	.polaroid-img-2 {
		width: 150px;
		height: 150px;
		position: absolute;
		bottom: 16vh;
		margin-left: 850px;
		background-color: red;
		background: url(/img/img_tomada_dark.svg) no-repeat;
	}
}