.fourteen{
	background: url(/img/fundo/fundo12.png) no-repeat;
	background-size: cover;
	h3 {
		@include middleViewport;
		@include h5-desktop;
		@include mq(0,400px) {
			@include h5-mobile;
			left: 0;
			position: absolute;
		}
		span {
			@include h3-desktop;
			color: $secondary;
			@include mq(0,400px) {
				@include h3-mobile;
			}
		}
	}
}