.seventeen{
	background: url(/img/fundo/fundo15.png) no-repeat;
	background-size: cover;
	.text-span {
		@include middleVertical;
		position: absolute;
		width: 800px;
		text-align: left;
		@include mq(0,400px) {
			width: 1000px;
			left: -300px;
		}
		h5 {
			@include h4-desktop;
			color: $dark;
			display: inline-block;
			font-weight: 100;
			@include mq(0,400px) {
				@include h4-mobile;	
			}
			span {
				@include h3-desktop;
				color: $secondary;
				@include mq(0,400px) {
					@include h3-mobile;
				}
			}
		}
	}
}