.four {
	background: url(/img/fundo/fundo2.png) no-repeat;
	background-size: cover;
	h3 {
		@include middleVertical;
		@include h5-desktop;
		left: 350vw;
		color: $dark;
		display: inline-block;
		@include mq(0,400px) {
			@include h5-mobile;
			position: absolute;
			left: -10vh;
			width: 120vh
		}
		span {
			@include h3-desktop;
			color: $secondary;
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			@include mq(0,400px) {
				@include h4-mobile;
			}
		}
	}

}
