.two {
	z-index: 4;
	background: url(/img/fundo/fundo_mancha_escuro.svg) no-repeat;
	background-color: $primary;
	background-size: contain;
	.logo {
		margin: 60px 0 0 200px;
		width: 260px;
		height: 74px;
		@include mq(0,400px) {
			margin: 24px 0 0 120px;
		}
	}
	.box {
		display: flex;
		.textbox {
			margin: 110px 0 0 200px;
			@include mq(0,400px) {
				margin-left: 120px;
			}
			p {
				@include h5-desktop;
				color: white;
				min-width: 300px;
				max-width: 488px;
				@include mq(0,400px) {
					@include h5-mobile;
					width: 280px;
					position: relative;
					bottom: 54px;
				}
			}
			button {
				@include button-desktop;
				@include button-shape;
				background-color: $secondary;
				color: white;
				margin-top: 16px;
				width: 200px;
				@include mq(0,400px) {
					position: relative;
					bottom: 40px;
				}
			}
		}
		.illustration {
			width: 400px;
			height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 4vw;
			animation: animation 5s linear infinite;
			background-color: $dark;
			@include mq(0,400px) {
				width: 200px;
				height: 220px;
			}
			.interrogacao-prio{
				width: 500px;
				height: 500px;
				background-size: 100%;
				background: url(/img/simbolo_interrogacao_prio_rosa.svg) no-repeat;
				background-position: center;
				@include mq(0,400px) {
					width: 200px;
					height: 200px;
					right: 0px;
					background-size: 40%;
					background-position: right;
					@include middleVertical;
				}
			}
		}
	}
}
