.three {
	background: url(/img/fundo/fundo_mancha_azul.svg) no-repeat, url(/img/fundo/fundo1.png) no-repeat;
	background-size: contain, cover;
	// .navbar .logo {
	// 	margin: 66px 0 0 180px;
	// 	width: 260px;
	// 	height: 74px;
	// 	background-repeat: no-repeat;
	// }
	.navbar {
		width: 100vw;
		height: 74px;
		display: flex;
		justify-content: space-between;
		padding: 60px 0px 0 180px;
		@include mq(0,400px) {
			width: 100vh;
			height: 60px;
			padding: 24px 0 0 120px;
		}
		.logo {
			width: 260px;
			height: 72px;
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}
	h2 {
		@include h2-desktop;
		@include middleVertical;
		color: $dark;
		left: 220vw;
		@include mq(0,400px) {
			@include h2-mobile;
			left: 40vh;
		}
	}

	button {
		@include button-desktop;
		@include button-shape;
		border: 2px solid $primary;
		background-color: $white;
		color: $primary;
		position: absolute;
		top: 8vh;
		left: 280vw;
		@include mq(0,400px) {
			top: 36px;
			left: 70vh;
		}
		&:hover{
			background-color: $primary;
			color: $white;
			cursor: pointer;
		}
	}
}