.sixteen{
	background: url(/img/fundo/fundo14.png) no-repeat;
	background-size: cover;
	.text-span {
		@include middleViewport;
		h5 {
			@include h5-desktop;
			color: $dark;
			@include mq(0,400px) {
				@include h5-mobile;
				position: absolute;
				left: -200px;
				bottom: 10px;
			}
		}
	}
}