.twenty-one {
  z-index: 3;
  background-color: $dark;
  background: url(/img/fundo_mancha_escuro.png) no-repeat right, url(/img/fundo/fundo19.png) no-repeat;
  background-size: contain, cover;
  .content-container {
    @include middleViewport;
    h3 {
      @include h3-desktop;
      @include mq(0,400px) {
        @include h3-mobile;
      }
    }
    button {
      @include button-desktop;
      color: white;
      background-color: $secondary;
      margin-top: 40px;
      padding: 16px 24px;
      width: 200px;
      border-radius: 45px;
    }
  }
}