.twenty{
	background: url(/img/fundo/fundo18.png) no-repeat;
  	background-size: cover;
	.content-container {
		@include middleViewport;
		text-align: left; 
		margin-left: 400px;
		@include mq(0,400px) {
		  margin-left: 140px;
		}
		h3 {
			@include h3-desktop;
			width: 50vw;
			@include mq(0,400px) {
			  @include h3-mobile;
			  width: 100vh;
			}
			span {
				color: $secondary;
			}
		}
		h5 {
			@include h5-desktop;
			@include mq(0,400px) {
			  @include h5-mobile;
			}
		}
	}
}