.seven {
	background: url(/img/fundo/fundo5.png) no-repeat;
	background-size: cover;
	.content-container {
		position: absolute;
		top: 40vh;
		left: 600vw;
		@include mq(0,400px) {
			left: -40vh;
			top: 30vw;
		}
		.big-number-2 {
			position: absolute;
			left: 5vw;
			bottom: 50vh;
			background-color: $secondary;
			width: 300px;
			height: 300px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			animation: animation 5s linear infinite;
			@include mq(0,400px) {
				height: 160px;
				width: 240px;
			}
			h3 {
				@include h2-desktop;
				color: $white;
				@include mq(0,400px) {
					@include h2-mobile-highlighted;
					line-height: 12px;
				}
			}
			h5 {
				@include h5-desktop;
				color: $white;
				margin-top: 20px;
				@include mq(0,400px) {
					@include h5-mobile-highlighted;
					line-height: 16px;
				}
			}
			
		}
		img {
			position: relative;
			right: 200px;
			bottom: 260px;
			transform: scale(0.8);
			@include mq(0,400px) {
				transform: scale(0.6);
				bottom: 50vw;
				right: 240px;
			}
		}
		h4 {
			@include h5-desktop;
			vertical-align: top;
			display: inline-block;
			width: 380px;
			@include mq(0,400px) {
				@include h5-mobile;
				@include middleViewport;
				width: 240px;
				bottom: -16vw;
				left: -10vh;
				line-height: 42px;
			}
			span {
				@include h3-desktop-highlighted;
				color: $primary;
			}
		}
	}
}
