.thirteen{
	background: url(/img/fundo/fundo11.png) no-repeat;
	background-size: cover;
	h3 {
		@include h2-desktop-highlighted;
		@include middleViewport;
		color: $secondary;
		@include mq(0,400px) {
			@include h2-mobile-highlighted;
		}
	}
	img {
		position: absolute;
		bottom: 10vh;
		left: 1280vw;
		@include mq(0,400px) {
			left: 60vh;
			bottom: 4vw;
			transform: scale(0.7);
		}
	}
}