.nineteen {
	background: url(/img/fundo/fundo17.png) no-repeat;
	background-size: cover;
	.illustration-big-cloud {
		width: 500px;
		height: 500px;
		position: absolute;
		margin-left: 200px;
		margin-top: 50px;
		background: url(/img/cloud_pink_big.svg) no-repeat;
		@include mq(0,400px) {
			transform: scale(0.4);
			margin-top: -40px;
			left: -50vh;	
		}
	}
	.prize-plane {
		width: 400px;
		height: 500px;
		position: absolute;
		margin-left: 200px;
		background: url(/img/Group_plane_card.svg) no-repeat;
		background-size: 120%;
		@include mq(0,400px) {
			transform: scale(0.6);
			margin-top: -100px;
			left: -340px;	
		}
	}
	.illustration-medium-cloud {
		width: 450px;
		height: 350px;
		position: absolute;
		top: 220px;
		margin-left: 700px;
		background: url(/img/cloud_pink_medium.svg) no-repeat;
		background-size: contain;
		@include mq(0,400px) {
			transform: scale(0.5);
			top: 50px;
			margin-left: 120px;
			height: 160px;
		}
	}
	.prize-scooter {
		width: 400px;
		height: 400px;
		position: absolute;
		top: 200px;
		margin-left: 800px;
		background: url(/img/Group_scooter_card.svg) no-repeat;
		background-size: 70%;
		@include mq(0,400px) {
			transform: scale(0.7);
			top: 0px;
			left: -640px;	
		}
	}
	.illustration-small-cloud {
		width: 450px;
		height: 350px;
		position: absolute;
		top: 100px;
		margin-left: 1100px;
		background: url(/img/cloud_pink_small.svg) no-repeat;
		@include mq(0,400px) {
			transform: scale(0.5);
			margin-top: -80px;
			left: -760px;	
		}
	}
	.prize-jump {
		width: 400px;
		height: 400px;
		position: absolute;
		top: 100px;
		margin-left: 1100px;
		background: url(/img/Group_jump_card.svg) no-repeat;
		background-size: 100%;
		@include mq(0,400px) {
			transform: scale(0.6);
			margin-top: -100px;
			left: -760px;	
		}
	}
}
