.five {
	background: url(/img/fundo/fundo3.png) no-repeat;
	background-size: cover;
	.big-number-1 {
		width: 300px;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $primary;
		flex-direction: column;
		position: absolute;
		bottom: 30vh;
		left: 470vw;		
		animation: animation 5s linear infinite;
		@include mq(0,400px) {
			width: 200px;
			height: 180px;
			left: 15vh;
			top: 20vw;
		}
		h3 {
			@include h2-desktop;
			color: $white;
			@include mq(0,400px) {
				@include h2-mobile;
				line-height: 12px;
			}
		}
		h5 {
			@include h5-desktop-highlighted;
			color: $white;
			text-align: center;
			margin-top: 20px;
			@include mq(0,400px) {
				@include h5-mobile-highlighted;
			}
		}
	}
}
