.fifteen{
	background: url(/img/fundo/fundo13.png) no-repeat;
	background-size: cover;
	h2 {
		@include h4-desktop;
		position: absolute;
		top: 40vh;
		left: 1440vw;
		width: 40vw;
		@include mq(0,400px) {
			@include h4-mobile;
			left: 10vh;	
			top: 40vw;
			width: 80vh;
		}
		span {
			&:nth-of-type(1) {
				@include h5-desktop;
				@include mq(0,400px) {
					@include h5-mobile;
				}
			}
			&:nth-of-type(2) {
				@include h5-desktop;
				color: $primary;
				@include mq(0,400px) {
					@include h5-mobile;
				}
			}
			&:nth-of-type(3) {
				color: $secondary;
			}
		}
	}
}