.ten {
	background: url(/img/fundo/fundo8.png) no-repeat;
	background-size: cover;
	.illustration{
		width: 150px;
		height: 120px;
		position: absolute;
		top: 180px;
		margin-left: 640px;
		background: url(/img/Group_10_hands_illustration.svg) no-repeat;
		@include mq(0,400px) {
			transform: scale(0.7);
			margin-left: 265px;
			top: 8vw;
		}
	}
	h3 {
		@include middleViewport;
		@include h5-desktop;
		color: $dark;
		display: inline-block;
		@include mq(0,400px) {
			@include h5-mobile;
		}
		span {
			@include h3-desktop;
			color: $secondary;
			display: inline-block;
			margin-left: 10px;
			@include mq(0,400px) {
				@include h3-mobile;
				margin-top: 12px;
			}
		}
	}
}