.nine{
	background: url(/img/fundo/fundo7.png) no-repeat;
	background-size: cover;
	.big-number-4 {
		width: 300px;
		height: 300px;
		margin-left: 750px;
		background-color: $secondary;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;	
		animation: animation 5s linear infinite;
		@include mq(0,400px) {
			margin: 10vw 0 0 40vh;
			height: 200px;
			width: 320px;
		}
		h3 {
			@include h2-desktop;
			color: $white;
			@include mq(0,400px) {
				@include h2-mobile-highlighted;
				line-height: 12px;
			}
		}
		h5 {
			@include h5-desktop-highlighted;
			color: $white;
			text-align: center;
			margin-top: 20px;
			@include mq(0,400px) {
				@include h5-mobile-highlighted;
				width: 260px;
			}
		}
	}
	.polaroid-img-3 {
		width: 400px;
		height: 420px;
		position: absolute;
		bottom: 16vh;
		margin-left: 600px;
		background: url(../img/Group_373_card.svg);
		@include mq(0,400px) {
			margin-left: 30px;
			bottom: 0;
			transform: scale(0.6);
		}
	}
}