.six {
	background: url(/img/fundo/fundo4.png) no-repeat;
	background-size: cover;
	.content-container {
		@include middleVertical;
		text-align: left;
		left: 550vw;
		width: 60vw;
		height: 30vh;
		@include mq(0,400px) {
			top: 34vw;
			left: -30vh;
			width: 80vh;
			height: 30vw;
		}
		img {
			display: inline-block;
			transform: scale(1.2) translateX(-30px) translateY(-20px);		
			@include mq(0,400px) {
				transform: scale(0.8);
			}
		}
		h3 {
			@include h5-desktop;
			display: inline-block;
			width: 388px;
			@include mq(0,400px) {
				@include h5-mobile;
				width: 200px;
				line-height: 32px;
			}
			span {
				@include h3-desktop-highlighted;
				color: $secondary;
				line-height: 40px;
				@include mq(0,400px) {
					@include h3-mobile-highlighted;
					line-height: 28px;
				}
			}
		}
	}
}