.twelve{
	background: url(/img/fundo/fundo10.png) no-repeat;
	background-size: cover;
	h3 {
		@include h2-desktop-highlighted;
		@include middleViewport;
		color: $secondary;
		@include mq(0,400px) {
			@include h2-mobile-highlighted;
		}
	}
	img {
		position: relative;
		left: 60vw;
		top: 40px;
		@include mq(0,400px) {
			transform: scale(0.8);
			left: 45vh;
			top: -20px;
		}
	}
}