.eighteen{
	background: url(/img/fundo/fundo16.png) no-repeat;
	background-size: cover;
	.content-container {
		@include middleViewport;
		h5 {
			@include h5-desktop;
			color: $dark;
			display: inline-block;
			@include mq(0,400px) {
				@include h5-mobile;	
			}
			span {
				@include h3-desktop;
				color: $secondary;
				display: inline-block;
				margin-right: 10px;
				@include mq(0,400px) {
					@include h3-mobile;	
				}
			}
		}
	}
}