.social-media {
    z-index: 1;
    display: flex;
    transform: rotate(270deg);
    min-width: 200px;
    max-width: 300px;
    position: fixed;
    top: 74vh;
    margin-left: -60px;
    @include mq(0,400px) {
        transform: rotate(360deg);
        transform-origin: top left;
        left: 100px;
        top: 8vw;
    }
    .icon {
		width: 31px;
		height: 31px;
		margin-right: 16px;	
        background-size: 32px;
        background-repeat: no-repeat;
    }
	.follow {
        @include text-desktop;
		color: $secondary;
		margin: 10px 28px 0 0;
	}
}